#root {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.default-button {
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #2b2d42;
  color: #edf2f4;
  border: 2px solid #8d99ae;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  margin-top: 1rem;
}

.back-button {
  font-family: 'Montserrat';
  font-weight: bold;
  border: 2px solid #8d99ae;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #c70039;
  color: #ffd996;
}

.back-button:hover {
  cursor: pointer;
  background-color: #edf2f4;
  color: #2b2d42;
}

.App,
.InputFigure {
  text-align: center;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

tr {
  border: none
}

td {
  border: none;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.mont-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.mont-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.mont-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.mont-semibold-italic {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.mont-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.mont-bold-italic {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.mont-xbold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}


.deemphasized {
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.emphasized {
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  font-family: 'Montserrat'
}

td {
  text-align: 'center'
}